<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Servers</h1>
    <ul>
        {% for server in servers %}
        <li><b>Host:</b> {{ server.host }} </li>
        <li><b>Name:</b> {{ server.name }} </li>
        <li><b>Está online:</b> {{ server.is_online }} </li>
        <li><b>Status code esperado/atual:</b> {{ server.status_code }}/{{ server.current_status_code }} </li>
        <li><b>Data do último problema:</b> {{ server.last_trouble }} </li>
        <li>__________________________________________________</li>
        {% endfor %}
    </ul>

    <span>You have {{ servers|length }} servers.</span>
</body>
</html>
